<html>
    <head>
        <meta charset="utf-8">
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Cheongju University, Photography Club</title>
    </head>
    <body>
        <div class="tri_background_shadow"></div>
        <header>
            <div id='logo_box' onclick='location.href="/"'>
                <img class="logo_img" src="/static/img/logo.png">
                <div class="logo_txt">사진예술연구회</div>
            </div>
            <!-- <svg id='logo_box' onclick='location.href="/"'>
                <img class="logo_img" src="/static/img/logo.png">
                <text class="logo_txt">사진예술연구회</text>
            </svg> -->

            <ul class="menu_nav">
                <li onclick='location.href="/login"'>작품소개</li>
                <li onclick='location.href="/intro"'>동아리 소개</li>
                <li onclick='location.href="/login"'>회원 소개</li>
                <li onclick='location.href="/login"'>동아리 역사</li>
                <li onclick='location.href="/login"'>FAQ</li>
                <li onclick="location.href='/login'">연혁</li>
            </ul>
        </header>
        {% block content %}
        {% endblock %}

        <footer>
            <table>
                <tr>
                    <td>　</td>
                    <td rowspan=3>
                        <div class='footer_map'>지도</div>
                    </td>
                </tr>
                <tr>
                    <td>　</td>
                </tr>
                <tr>
                    <td style='height: 54px; font-size: 32px; font-family: score5;'>사진예술연구회</td>
                </tr>
                <tr>
                    <td colspan=2 style='font-size: 10px; font-family: score3;'>청주대학교 중앙동아리 / 머 어쩌고 저쩌고</td>
                </tr>
                <tr>
                    <td colspan=2 style='
                        height: 30px;
                        text-align: right;
                        border-bottom: 1px solid #EEEEEE;
                        font-size: 12px;
                        '>https://www.cjuclubphoto.com</td>
                </tr>
                <tr>
                    <td colspan=2 style='text-align: right;'>
                        <a href="#" class="fa fa-facebook"></a>
                        <a target="_blank"href="https://www.instagram.com/cju.photo_official/" class="fa fa-instagram"></a>
                    </td>
                </tr>
                <tr>
                    <td colspan=2 style='font-size: 10px; font-family: segonR;'>ⓒ 2021 by Cheongju University Photography Club</td>
                </tr>
            </table>
        </footer>
    </body>
</html>
