<html>
    <head>
        <meta charset="utf-8">
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Cheongju University, Photography Club</title>
    </head>
    <body - oncontextmenu='return false' >
        <div class="tri_background_shadow"></div>
        <header>
            <div id='logo_box' onclick='location.href="/"'>
                <img class="logo_img" src="/static/img/logo.png">
                <div class="logo_txt">사진예술연구회</div>
            </div>

            <ul class="menu_nav">
                <li onclick='location.href="/intro_piece"'>작품 소개</li>
                <li onclick='location.href="/intro_club"'>동아리 소개</li>
                <li onclick='location.href="/intro_member"'>부원 소개</li>
                <li onclick='location.href="/club_history"'>동아리 역사</li>
                <li onclick='location.href="/faq"'>FAQ</li>
                <li onclick="location.href='/brief_history'">연혁</li>
            </ul>
        </header>
        {% block content %}
        {% endblock %}

        <footer>
            <table>
                <tr>
                    <td>　</td>
                    <td rowspan=3>
                        <div class='footer_map'>
                            <img class="footer_map" src="/static/img/main/simple_map.png">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>　</td>
                </tr>
                <tr>
                    <td style='height: 54px; font-size: 1.6vw; font-family: score5;'>사진예술연구회</td>
                </tr>
                <tr>
                    <td colspan=2 style='font-size: 0.5vw; font-family: score3;'>청주대학교 중앙동아리 Since 1977</td>
                </tr>
                <tr>
                    <td colspan=2 style='
                        height: 30px;
                        text-align: right;
                        border-bottom: 1px solid #EEEEEE;
                        font-size: 12px;
                        '>www.cjuphotoclub.com</td>
                </tr>
                <tr>
                    <td colspan=2 style='text-align: right;'>
                        <a target="_blank"href="https://www.instagram.com/cju.photo_official/" class="fa fa-instagram"></a>
                    </td>
                </tr>
                <tr>
                    <td colspan=2 style='font-size: 10px; font-family: segonR;'>ⓒ 2021 by Cheongju University Photo Club</td>
                    
                </tr>
                <tr>
                    <td style="color:#8e8583">|Development:구민구,박지용|Infra:임윤수|Design:이지우|</td>
                </tr>
            </table>
        </footer>
    </body>
</html>
