{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/intro_piece.css">

<script>
    $(document).ready(function(){
        $(".menu_nav li").eq(3).css("color", "var(--black-color-1)");
    })
</script>

<div class="piece_list_box">
    {% for piece in piece_list_student %}
        <div class = "piece_box student">
            <img src="/static/img/pieces/{{piece['image']}}" class="chairman_profile">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}

    {% for piece in piece_list_freshman %}
        <div class = "piece_box freshman">
            <img src="/static/img/pieces/{{piece['image']}}" class="chairman_profile">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}

    {% for piece in piece_list_clubman %}
        <div class = "piece_box clubman">
            <img src="/static/img/pieces/{{piece['image']}}" class="chairman_profile">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}