{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/club_history.css">

<script>
    $(document).ready(function(){
        $(".menu_nav li").eq(3).css("color", "var(--black-color-1)");
    })
</script>

<div class="club_history_list_box">
    {% for history in club_history_list %}
        <div class = "history_box">
            {% for k, v in history.items() %}
            <p class = "title">{{k}}</p>
                {% for img in v %}
                <div class = "history_img_box">
                    <img src="/static/img/club_history/{{img}}">
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}