{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/index.css">
<div class="main_box">
    <div class="main_poster">
        <img src= "/static/img/main/main_poster.jpg" >
    </div>
    <span class='since_txt'>Since, 1977</span>
    <span class='gen_txt'>{{chapter}}<span style='font-size: 1.7vw'>th</span></span>
</div>

<div class="center_box">
    <div class="center_txt">
        <p style='font-size: 1.1vw'>청주대학교 사진동아리 ; 사진예술연구회</p>
        <p style='font-size: 0.6vw; color: var(--gray-color-3); font-family:"scor3"'>CJU Photoclup</p>
    </div>
</div>

{% endblock %}