{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/intro_member.css">

<script>
    $(document).ready(function(){
        $(".clubmember").hide();

        $(".menu_nav li").eq(2).css("color", "var(--black-color-1)");

        $(".member_title_box").click(function(){
            $(".member_box").hide("normal");

            if( $(this).is( $($(".member_title_box")[0]) )){
                $(".student").show("normal");
            }
            else if( $(this).is( $($(".member_title_box")[1]) )){
                $(".clubmember").show("normal");
            }
        });
    });

    $(function() {
    $(".member_box img").each( function(i, ele){
        var uri = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==";
         
        uri = "/static/img/members/logo.jpg";
	//이미 load된 이미지들을 처리하기 위한 코드
        if( ele.src != '' && ele.complete == true && ele.naturalWidth == 0 ){
            $(this).attr("src", uri );
            // $(this).attr("width", "150px");
        }
        //load되지 않은 이미지들은 load와 error 이벤트를 추가해준다
        $(this).load( function(n){
            //do nothing
        })
        .error( function(){
            $(this).attr("src", uri );
            // $(this).attr("width", "150px");
        });
	});
});
</script>

<div class="member_list_box">
    <div class = "member_title_box">
        <p>재학생</p>
    </div>

    <div class = "member_title_box">
        <p>동호인</p>
    </div>

    <br>

    <div class = "member_box student chairman">
        <p>재학생 회장</p>
        <img src="/static/img/members/{{student_chairman['image']}}">
        <p>{{student_chairman['profile']}}</p>
    </div>

    <div class = "member_box clubmember chairman">
        <p>동호인 회장</p>
        <img src="/static/img/members/{{club_chairman['image']}}">
        <p>{{club_chairman['profile']}}</p>
    </div>

    {% for member in student_list %}
        <div class = "member_box student">
            <img src="/static/img/members/{{member['image']}}">
            <p>{{member['profile']}}</p>
        </div>
    {% endfor %}

    {% for member in clubmember_list %}
        <div class = "member_box clubmember" >
            <p>{{member['profile']}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}