{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/intro_piece.css">

<script>
    $(document).ready(function(){
        $(".freshman").hide();
        $(".clubman").hide();
        $(".menu_nav li").eq(0).css("color", "var(--black-color-1)");

        $(".piece_title_box").click(function(){
            $(".piece_box").hide("normal");

            if( $(this).is( $($(".piece_title_box")[0]) )){
                $(".student").show("normal");
            }
            else if( $(this).is( $($(".piece_title_box")[1]) )){
                $(".freshman").show("normal");
            }
            else if( $(this).is( $($(".piece_title_box")[2]) )){
                $(".clubman").show("normal");
            }
        });
    })
</script>

<div class="piece_list_box">
    <p class = "notice_txt">* 사진 누르면 커집니다.</p>
    <div class = "piece_title_box">
        <p>재학생</p>
    </div>

    <div class = "piece_title_box">
        <p>신입생</p>
    </div>

    <div class = "piece_title_box">
        <p>동호인</p>
    </div>

    {% for piece in piece_list_student %}
        <div class = "piece_box student">
            <img src="/static/img/pieces/{{piece['image']}}">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}

    {% for piece in piece_list_freshman %}
        <div class = "piece_box freshman">
            <img src="/static/img/pieces/{{piece['image']}}">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}

    {% for piece in piece_list_clubman %}
        <div class = "piece_box clubman">
            <img src="/static/img/pieces/{{piece['image']}}">
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}