{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/intro_club.css">

<script>
    $(".menu_nav li").eq(1).css("color", "var(--black-color-1)");
</script>

<div class="poster_box">
    <p>2021 POSTER</p>
    <div class="main_poster">
        <img src= "/static/img/main/main_poster.jpg" >
    </div>
</div>

<div class = "contain_box">
    <p class="gray_title">About</p>
    <p class="black_title">동아리소개</p>

    <div class = "contain_logo_box">
        <img src="/static/img/logo.png">
        <div>사진예술연구회</div>
    </div>

    <pre class="club_intro_txt">{{club_intro_txt}}</pre>

    <div class = "chairman_box">
        <img src = "/static/img/intro_club/chairman.png">
        <p><span>{{chairman_info}}</span><span>{{chairman_name}}</span></p>
        <pre>{{chairman_txt}}</pre>
    </div>

    <div class = "club_chairman_box">
        <img src = "/static/img/intro_club/club_chairman.png">
        <pre>{{club_chairman_txt}}</pre>
    </div>
</div>
{% endblock %}