{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/intro_piece.css">

<!-- bauettebox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<!---------------->

<script>
    $(document).ready(function(){
        $(".freshman").hide();
        $(".clubman").hide();
        $(".menu_nav li").eq(0).css("color", "var(--black-color-1)");

        $(".piece_title_box").click(function(){
            $(".piece_box").hide("normal");

            if( $(this).is( $($(".piece_title_box")[0]) )){
                $(".student").show("normal");
            }
            else if( $(this).is( $($(".piece_title_box")[1]) )){
                $(".freshman").show("normal");
            }
            else if( $(this).is( $($(".piece_title_box")[2]) )){
                $(".clubman").show("normal");
            }
        });
        
        baguetteBox.run('.piece_box', {
            noScrollbars: true
        });
    })
</script>

<div class="piece_list_box">
    <p class = "notice_txt">* 사진 누르면 커집니다.</p>
    <div class = "piece_title_box">
        <p>재학생</p>
    </div>

    <div class = "piece_title_box">
        <p>신입생</p>
    </div>

    <div class = "piece_title_box">
        <p>동호인</p>
    </div>


    <!-- <div class='reduce_img_baguette'>
        <a id='a_reduce_input_1' class='a_reduce_input' href="#" data-caption="Image caption">
            <img class='preview_btn' src="{{ url_for('static', filename='icon/magnifying-glass.png') }}">
        </a> -->

    {% for piece in piece_list_student %}
        <div class = "piece_box student">
            <a href='/static/img/pieces/{{piece["image"]}}' >
                <img src="/static/img/pieces/{{piece['image']}}">
            </a>
            <p>{{piece['artist']}}</p>
            
        </div>
    {% endfor %}

    {% for piece in piece_list_freshman %}
        <div class = "piece_box freshman">
            <a href='/static/img/pieces/{{piece["image"]}}' >
                <img src="/static/img/pieces/{{piece['image']}}">
            </a>
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}

    {% for piece in piece_list_clubman %}
        <div class = "piece_box clubman">
            <a href='/static/img/pieces/{{piece["image"]}}' >
                <img src="/static/img/pieces/{{piece['image']}}">
            </a>
            <p>{{piece['artist']}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}