<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./static/css/manager.css">
        <title>청주대학교 사진예술연구회</title>
    </head>
    <body>
        <div class="manager_box">
            <h1>관리자 페이지</h1>

            <a href="/setuser"><button class="manager_menu">회원 관리</button></a>
            <div class="button_explain">
                회원 추가, 삭제, 수정 / 작품 사진 및 프로필 사진 변경 등
            </div>
            <br>
            <a href="/setsite"><button class="manager_menu">사이트 관리</button></a>
            <div class="button_explain">
                동아리 소개글 변경, 전시회 포스터 교체, 동아리 연혁 추가 등
            </div>
        </div>
    </body>
</html>