<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./static/css/index.css">
        <title>Cheongju University, Photography Club</title>
    </head>
    <body>
        <div class="main_box">
            <div class="menu_box">
                <a href="/"><img class="main_logo" src="./static/img/main/logo.jpg" ></a>
                <ul class="main_menu">
                    <li onclick='location.href="/login"'>작품소개</li>
                    <li onclick='location.href="/intro"'>동아리 소개</li>
                    <li onclick='location.href="/login"'>회원 소개</li>
                    <li onclick='location.href="/login"'>동아리 역사</li>
                    <li onclick='location.href="/login"'>FAQ</li>
                    <li onclick='location.href="/login"'>연혁</li>
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
