body{
    background: #EEEEEE;
}
.tri_background_shadow {
    border: none;
}
.club_history_list_box{
    width: 75vw;
    margin: 4vw auto;
    text-align: justify;
}

.history_box{
    width: fit-content;
    margin: 3vw auto 9vw;
}
.history_box > p{
    margin: 0.2vw 0.8vw;
    text-align: left;
    font-family: '나눔스퀘어B';
    font-size: 1.3vw;
}

.history_img_box{
    display: inline-block;
    width: 23vw;
    height: 13vw;
    margin: 0.8vw;
    background: white;
    text-align: center;
}
.history_img_box img{
    width: auto;
    max-width: 23vw;
    height: 13vw;
}
.history_img_box p{
    margin: 10px auto;
    color: var(--gray-color-1);
    font-size: 1vw;
    font-size: 0.9vw;
    font-family: 'score6';
}