
.main_under_box{
    width: 60%;
    margin: 70px auto;
}

.main_poster{
    width: 100%;
}




/* INTRO */
.intro_box{
    width : 80%;
    margin: 0 auto;
    padding : 20px;
    /* border: 2px solid blue; */
}
.chairman{
    display: inline-block;
    /* border: 2px solid blue; */
    margin: 20px;
}
.chairman_profile{
    width: 240px;
}
.chairman_name{
    font-size: 35px;
    margin-top: 15px;
    text-align: center;
}
.main_intro{
    display: inline-block;
    /* border: 1px solid red; */
    margin: 10px;
    margin-top: 30px;
    vertical-align: top;
}