body{
    background: #EEEEEE;
}
.tri_background_shadow {
    border: none;
}

.poster_box{
    background: white;
    padding: 30px;
}
.poster_box p{
    text-align: center;
    font-size: 2.5vw;
    font-family: 'score7';
    margin: 1vw auto;
}
.main_poster{
    width: fit-content;
    margin: 3vw auto;
    padding: 1.3vw;
    border: 0.4vw solid var(--black-color-1);
    /* box-shadow: -2vw 2vw 1vw rgba(50, 50, 50, 0.3); */
    background: rgb(210, 210, 190);
}
.main_poster img{
    width: 40vw;
}

.contain_box{
    position: relative;
    padding: 5vw 15vw 8vw;
}

.gray_title{
    margin-bottom: -0.6vw;
    opacity: 50%;
    font-size: 2.5vw;
    color: var(--gray-color-3);
    font-weight: bold;
    font-family: '나눔스퀘어EB';
}
.black_title{
    margin-left: 2vw;

    font-size: 2.5vw;
    color: var(--black-color-1);
    font-weight: bold;
    font-family: '나눔스퀘어EB';
}


.contain_logo_box{
    position: absolute;
    width: fit-content;
    height: 7vw;
    top: 4vw;
    right: 17vw;
    text-align: center;
}

.contain_logo_box img{
    width: 6vw;
    height: 6vw;
}
.contain_logo_box div{
    font-size: 1.4vw;

    white-space: nowrap;
    font-family: '어그로_M';
    color: var(--black-color-1);
}

.club_intro_txt{
    margin: 5vw 3vw;
    font-size: 1.3vw;
    line-height: 2vw;
    font-family: '나눔스퀘어R';
    color: var(--gray-color-1);
}

.chairman_box{
    position: relative;
    overflow: auto;
    margin-bottom: 5vw;
    padding: 0vw 3vw;
}
.chairman_box div{
    position: absolute;
    right: 3vw;
    bottom: 0;
}
.chairman_box p{
    text-align: right;
}
.chairman_box span:nth-child(1){
    margin-right: 0.5vw;
    color: var(--black-color-1);
    font-size: 1vw;
    font-family: 'score5';
}
.chairman_box span:nth-child(2){
    color: var(--black-color-1);
    font-size: 1.7vw;
    font-family: 'score5';
}
.chairman_box img{
    float: left;
    width: 25vw;
    height: auto;
}
.chairman_box pre{
    margin-top: 1vw;

    font-size: 1vw;
    line-height: 1.8vw;
    font-family: '나눔스퀘어R';
    color: var(--gray-color-1);
    text-align: right;
}

.club_chairman_box{
    position: relative;
    overflow: auto;
    padding: 0vw 3vw;
}
.club_chairman_box div{
    position: absolute;
    left: 3vw;
    bottom: 0;
}
.club_chairman_box span:nth-child(1){
    margin-right: 0.5vw;
    color: var(--black-color-1);
    font-size: 1vw;
    font-family: 'score5';
}
.club_chairman_box span:nth-child(2){
    color: var(--black-color-1);
    font-size: 1.7vw;
    font-family: 'score5';
}
.club_chairman_box img{
    float: right;
    width: 25vw;
    height: auto;
}
.club_chairman_box pre{
    margin-top: 1vw;

    font-size: 1vw;
    line-height: 1.8vw;
    font-family: '나눔스퀘어R';
    color: var(--gray-color-1);
}