body{
    background: #EEEEEE;
}
.tri_background_shadow {
    border: none;
}
.member_list_box{
    width: 75vw;
    margin: 60px auto;
    text-align: center;
}

.member_title_box{
    display: inline-block;
    width: 18vw;
    height: 4vw;
    border-radius: 2vw;
    margin: 25px 3vw 40px;

    text-align: center;
    color: var(--black-color-1);
    font-size: 1.4vw;
    font-weight: bold;
    font-family: '나눔스퀘어B';
    line-height: 4vw;

    background: var(--gray-color-4);
    box-shadow: 2px 4px 3px rgba(100, 100, 100, 0.2), -2px 0px 3px rgba(100, 100, 100, 0.2);
    cursor: pointer;
}

.member_box{
    position: relative;
    display: inline-block;
    width: 16vw;
    height: 26vw;
    margin: 2vw 0.8vw 3vw;
    background: white;
    text-align: center;
}
.member_box img{
    position: absolute;
    max-width: 16vw;
    max-height: 26vw;
    width: auto;
    height: 15vw;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 2px 0.6vw 0.3vw rgba(100, 100, 100, 0.2), -2px 0px 0.3vw rgba(100, 100, 100, 0.2);
}
.member_box p{
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5vw;

    color: var(--black-color-1);
    font-size: 0.9vw;
    font-family: 'score6';
    font-family: '나눔스퀘어EB';
}