.manager_box{
    width: 1000px;
    margin: 50px;
    /* border: solid 1px ; */
}
.manager_box input{
    width: 300px;
    height: 40px;
    font-size: 20px;
}
#login_bt{
    width: 100px;
    height: 60px;
    font-size: 20px;
}
.login_err{
    color: red;
}
.manager_menu{
    width: 200px;
    height: 100px;
    margin: 30px;
    font-size: 30px;
    border-radius: 10px;
    border: solid 2px ;
    color: black;
    cursor: pointer;
}
.button_explain{
    display: inline-block;
    font-size: 22px;
}
.back_btn{
    width: 120px;
    height : 50px;
    font-size: 19px;
}
.set_site_box{
    display: inline-block;

}
.set_site_inner{
    /* display: inline-block; */
    border : solid black 1px;
    margin: 25px 10px;
    padding: 10px;
    vertical-align: top;
    
}
.set_site_inner th{
    border-bottom: 2px solid;
}
.set_site_inner caption{
    font-size: 25px;
    margin: 25px;
}
.set_site_inner td {
    padding: 15px;
    word-break: break-all;
    border-bottom: 1px solid;
}
.set_history_img{
    width: 100px;
}
.faq_table pre{
    max-width: 200px;
}
.set_plus_btn{
    background-color: white;
    font-size: 20px;
    /* border-radius: 99%; */
    border: solid black 0px;
    float: right;
}
.set_plus_btn:hover{
    font-size: 22px;
    color: red;
}
.set_site_menut_btn{
    width: 150px;
    height: 60px;
    font-size: 18px;
    padding: 8px;
    margin: 9px;
}
.insert_box{
    display: inline-block;
}
.insert_line{
    border: solid red 1px;
}
.insert_line td{
    padding: 15px;
}
.insert_ajax{
    vertical-align: middle;


}